{% extends "base.html" %}

{% block title %}Dodaj Użytkownika{% endblock %}

{% block content %}
<h2>Dodaj Nowego Użytkownika</h2>
<form method="POST" action="{{ url_for('add_user') }}">
    <label for="username">Nazwa Użytkownika:</label>
    <input type="text" name="username" required><br>
    <button type="submit">Dodaj Użytkownika</button>
</form>
<p>Po kliknięciu "Dodaj Użytkownika", proszę zeskanować swoją kartę RFID. Kod karty zostanie automatycznie odczytany i przetworzony.</p>
{% endblock %}
