{% extends "base.html" %}

{% block title %}Dodaj Nową Przerwę{% endblock %}

{% block content %}
    <h1>Dodaj Nową Przerwę</h1>
    <form method="POST">
    <label for="user">Wybierz użytkownika:</label>
    <select name="user" id="user">
        {% for user in users %}
        <option value="{{ user.UserID }}">{{ user.Username }}</option>
        {% endfor %}
    </select>

    <label for="break_number">Wybierz przerwę:</label>
    <select name="break_number" id="break_number">
        <option value="1">Przerwa 1</option>
        <option value="2">Przerwa 2</option>
        <option value="3">Przerwa 3</option>
    </select>

    <label for="start_time">Czas rozpoczęcia:</label>
    <input type="time" name="start_time" id="start_time" >

    <label for="end_time">Czas zakończenia:</label>
    <input type="time" name="end_time" id="end_time" >

    <button type="submit">Dodaj przerwę</button>
</form>

    <a href="{{ url_for('view_logs') }}">Zobacz Logi</a>
{% endblock %}
