<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>Przerwy ratowników - {% block title %}Strona{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/styles.css') }}">
</head>
<body>
    <nav>
        <ul>
            <li><a href="{{ url_for('dashboard') }}">Strona Główna</a></li>
            <li><a href="{{ url_for('view_logs') }}">Przerwy ratowników</a></li>
            <li><a href="{{ url_for('add_user') }}">Dodaj Użytkownika</a></li>
            <li><a href="{{ url_for('user_list') }}">Lista Użytkowników</a></li>
            <li><a href="{{ url_for('logout') }}">Wyloguj</a></li>
        </ul>
    </nav>

    <div class="flash-messages">
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <ul class="flash-list">
                    {% for message in messages %}
                        <li class="flash-message">{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
    </div>

    <div class="container">
        {% block content %}{% endblock %}
    </div>
    <script>
    setTimeout(function() {
        var flashMessages = document.querySelectorAll('.flash-message');
        flashMessages.forEach(function(message) {
            message.style.opacity = '0';
            setTimeout(function() {
                message.remove();
            }, 500);  // Usuwanie po 0.5 sekundy
        });
    }, 3000);  // Czas wyświetlania komunikatów: 3 sekundy
</script>
</script>
</body>
</html>
