{% extends "base.html" %}

{% block title %}Dashboard{% endblock %}

{% block content %}

    <h2>Witaj, Admin</h2>
    <div class="dashboard-links">
        <a href="{{ url_for('add_user') }}" class="dashboard-button">Dodaj Nowego Użytkownika</a>
        <a href="{{ url_for('view_logs') }}" class="dashboard-button">Przerwy ratowników</a>
        <a href="{{ url_for('user_list') }}" class="dashboard-button">Lista Użytkowników</a>
        <a href="{{ url_for('logout') }}" class="dashboard-button logout">Wyloguj</a>
    </div>

{% endblock %}
