{% extends "base.html" %}

{% block title %}Lista Użytkowników{% endblock %}

{% block content %}
<h2>Lista Użytkowników</h2>
<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Nazwa Użytkownika</th>
            <th>Akcja</th>
        </tr>
    </thead>
    <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.UserID }}</td>
                <td>{{ user.Username }}</td>
                <td>
                    <form action="{{ url_for('remove_rfid', user_id=user.UserID) }}" method="POST" style="display:inline;">
                        <button type="submit">Usuń Kartę</button>
                    </form>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
