
{% extends "base.html" %}

{% block title %}Dashboard{% endblock %}

{% block content %}

        <h2>Logi Przerw</h2>

        <form method="POST" action="{{ url_for('view_logs') }}">
            <label for="username">Wyszukaj Użytkownika:</label>
            <input type="text" name="username" placeholder="Nazwa Użytkownika">

            <label for="selected_date">Wybierz Datę:</label>
            <input type="date" name="selected_date" value="{{ date_filter.strftime('%Y-%m-%d') }}">

            <button type="submit">Filtruj</button>
        </form>

        <h3>Dane dla: {{ date_filter.strftime('%Y-%m-%d') }}</h3>

        <table border="1">
            <tr>
                <th>Imię</th>
                <th>Śniadanie - Start</th>
                <th>Śniadanie - Koniec</th>
                <th>Obiad - Start</th>
                <th>Obiad - Koniec</th>
                <th>Kolacja - Start</th>
                <th>Kolacja - Koniec</th>
            </tr>
            {% for log in logs %}
            <tr>
                <td>{{ log[0] }}</td>
                <td>{{ log[1].strftime('%H:%M:%S') if log[1] else 'Brak' }}</td>
                <td>{{ log[2].strftime('%H:%M:%S') if log[2] else 'Brak' }}</td>
                <td>{{ log[3].strftime('%H:%M:%S') if log[3] else 'Brak' }}</td>
                <td>{{ log[4].strftime('%H:%M:%S') if log[4] else 'Brak' }}</td>
                <td>{{ log[5].strftime('%H:%M:%S') if log[5] else 'Brak' }}</td>
                <td>{{ log[6].strftime('%H:%M:%S') if log[6] else 'Brak' }}</td>
            </tr>
            {% endfor %}
        </table>

{% endblock %}
