body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1100px;
    padding: 20px;
    margin: 20px auto;
    padding: 20px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    text-align: center; /* Wyśrodkowanie treści */
}

h1, h2 {
    color: #333;
    margin-top: 0;
}

.dashboard-links {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.dashboard-button {
    display: block;
    padding: 15px 30px;
    margin: 10px 0;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    text-align: center;
    transition: background 0.3s ease;
    width: 80%; /* Szerokość przycisków */
}

.dashboard-button:hover {
    background-color: #45a049;
}

.logout {
    background-color: #f44336; /* Kolor przycisku wylogowania */
}

.logout:hover {
    background-color: #e53935; /* Ciemniejszy kolor przycisku wylogowania na hover */
}

nav {
    background-color: #4CAF50;
    color: #fff;
    padding: 15px;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-around;
}

nav ul li {
    display: inline;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 10px 15px;
    border-radius: 5px;
    transition: background 0.3s ease;
}

nav ul li a:hover {
    background-color: #45a049;
}

h1, h2 {
    color: #333;
    text-align: center;
    margin-top: 20px;
}

.container {
    max-width: 900px;
    margin: 20px auto;
    padding: 20px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 0;
}

form label {
    margin: 10px 0 5px;
}

form input[type="text"],
form input[type="password"],
form input[type="date"] {
    padding: 10px;
    width: 80%;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 15px;
}

form button {
    padding: 10px 15px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s ease;
}

form button:hover {
    background-color: #45a049;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}

table th, table td {
    padding: 10px;
    border: 1px solid #ccc;
    text-align: center;
}

table th {
    background-color: #4CAF50;
    color: white;
}

table tr:nth-child(even) {
    background-color: #f2f2f2;
}

table tr:hover {
    background-color: #ddd;
}
